/*Full page settings*/
body{
    font-family: 'Helvetica', sans-serif;
    background: #f3f3f3;
}

/*Slideshow image settings*/
img{
    max-width: 150px;
    width: 100%;
}




/*Navbar Settings*/

.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 60px; /* Reduce height */
}

.nav-link{
    font-weight: 525;
    color: black;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.dropdown>.dropdown-menu{
    background-color: white;
    border: none;
    border-radius: 0;
}

.lni-menu-hamburger-1{
    font-size: 2rem;
}

/* Make the search input border and text black */
.navbar .form-control {
    color: black;
    border-color: black;
}

/* Make the search button outline black */
.navbar .btn-outline-primary {
    color: black;
    border-color: black;
}

/* Change the background color of the button on hover */
.navbar .btn-outline-primary:hover {
    color: white;
    background-color: black;
    border-color: black;
}

/* Make the basket icon and text black */
.navbar .nav-link i{
    color: #5f92f8 !important;
}

.navbar-nav .nav-item {
    padding-left: 15px;
    padding-right: 15px;
}

.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Adjust the color and opacity as desired */
    color: black; /* Optional: Keep text color black */
    border-radius: 4px; /* Optional: Slight rounding to match design */
}

.nav-logo{
    font-family: "Pacifico", sans-serif;
    font-weight: 400; /* Bolder weight for a more professional look */
    font-size: 1.5rem; /* Adjust size as needed for your design */
    color: #5f92f8; /* Dark color for readability and elegance */
    text-transform: up; /* Makes the logo look bold and professional */
    letter-spacing: 0.05em; /* Adds spacing between letters for readability */
    text-decoration: none
}

/*Slideshow Media*/
@media(min-width:992px){
    .dropdown>.dropdown-menu{
        visibility: hidden;
        opacity: 0;
        top: 100%;
        display: block;
        transition: all 0.1 ease-out;
    }

    .dropdown:hover>.dropdown-menu{
        padding: 20px 0;
        display: block;
        visibility: visible;
        opacity: 1;
        transition: all 0.3 ease-in-out;
    }
    
    .dropdown-item:hover{
        color: white;
        background-color: black;
    }
}






/*SlideShow*/

.c-item{
    height: 480px;
}

.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);

}

/*SlideShow Buttons*/
.btn-primary {
    background-color: #3a8ae0; 
    border-color: #007bff;
    font-size: 1.2rem; 
    font-weight: 600;
    border-radius: 30px; 
    padding: 12px 25px; 
    transition: all 0.3s ease; 
}

.btn-primary:hover {
    background-color: #0056b3; 
    border-color: #0056b3;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.4); 
}

